@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}
    <div class="container search-background">
       
            <h1 class="text-primary" style="padding-top:40px;">@ViewData["Title"]</h1>
            @{
                if (@Model.DisplayConfirmAccountLink)
                {
                    <p class="text-center" style="border:3px ridge blue;font-size:x-large;margin:40px;padding-bottom:10px;">
                        Please check your email to confirm your account.
                        Normally this would be emailed: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
                    </p>
                }
                else
                {
                    <p>
                        Please check your email to confirm your account.
                    </p>
                }
            }

</div>